@charset "utf-8"; 

h1{
    background-color: aquamarine;
}
/* section{
    color: saddlebrown;
} */
.couleur{
    background-color: blue;
    color: aliceblue;
    list-style: none;
}
section p :last-child{
    color: rgb(184, 218, 61);
}