@charset "utf-8";
.content{
    width: 50%;
    background-color: orange;
    min-height: 500px;
    margin: auto;
}

*{
    text-align: center;
}

/******* header *******/
header{
    height: 30px;
    background-color: rgb(9, 92, 53);
}

main section:first-child{
    background-color: red;
    height: 50px;
}
main section:nth-child(2){
    background-color: blue;
    height: 75px;
}
main section:last-child{
    background-color: aqua;
    height: 25px;
}
footer{
    background-color: chartreuse;
    height: 90px;
}
@media only screen and (max-width : 1200px){
 .content{
     background-color: brown;
     width: 80%;
 }
 header{
    background-color: black;
    height: 70px;
    color: aliceblue;
 }
 *{
    text-align: left!important;
 }

    }
@media only screen and (max-width : 700px){
    .content{
        width: 60%;
    background-color: green;}

}  
@media only screen and (max-width : 500px){
    .content{
        width: 30%;
    background-color: rgb(206, 5, 156);
}
    main section:last-child{
        background-color: rgb(170, 46, 14);
        height: 50px;
        font-size: 24px;
        text-align: center;
        color: aliceblue;
    }

}  