@charset "utf-8"; 


@font-face{
	font-family:'nitedo'; 
	src:url("../Font/EarlyGameBoy.ttf");	
}
@font-face{
	font-family:'Typecast'; 
	src:url("../Font/Typecast/Typecast.ttf");	
}
a{
	font-family:'Typecast'; 
	font-size: 1.1vw;
	color: white; 
}
body{
	background-image: url();
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
		text-align: center;
}
article{
	font-family:'Typecast'; 
	font-size: 1.1vw;
	width: 650px;
	margin: auto;
	padding: 20px;
	border: groove; 
	background-color: rgba(218,241,227,0.70); 
}
h1{
	font-family:'nitedo'; 
	color: white;
}


@media screen and (max-width: 900px) {

article{
	
	font-size: 5vw;
	width: 80%;
	margin: auto;
	padding: 15px 30px;
	border: groove; 
	background-color: rgba(218,241,227,0.70); 
}
.retour{
	font-size: 15em; 
}
	
}
