@charset "utf-8";


/* *{
    border:solid 1px orange;
} */


/* fonts a deplacer  */

@font-face{
	font-family:'ganon'; 
	src:url("../Fonts/ReturnOfGanonRegular-3ReM.ttf");	
}

@font-face{
	font-family:'start'; 
	src:url("../Fonts/");	
}




html {
    height: 100%;
  }



/* presentation  */
h2{
    display: inline;
    font-family:'ganon'
}


body{
    /* background-color: rgb(170, 224, 184);   */
    background-image:url(../IMG/Background/806145.jpg);
        min-height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
}
body main{
    text-align: center;
}

hr{
    border: solid 2px ;
    color: black ;
    width: 85%;
}
nav{
    font-family: 'start';
}


/* .pictos-flex div{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
} */

.sticky{
    
}
div {
    text-align: center;
}

div a p{
    text-align: center;
    margin: auto;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  

/* responsive  */


@media only screen and (max-width : 540px){

    body{
        background-image: url(../IMG/Background/Smartphone/wp7771812.jpg);
      
    }
    main{
        background-color: rgba(0, 0, 0, 0.658);
        color: aliceblue;
    }
    hr{
        color: rgb(255, 255, 255);
    }

}