@charset "utf-8";
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
#content{
    width: 1200px;
    background-color: orange;
}

#equipe{
    width: 200px;
    height: 300px;
}
#equipe:nth-child(even){
    background-color: aqua;
}
#equipe:nth-child(odd){
    background-color: rgb(65, 0, 93);
}

@media  screen and (max-width : 1000px){
    #content{
        width: 80%;
    }
}

@media  screen and (max-width : 780px){
    #content{
        background-color: lightgreen;
        width: 100%;
    }
}