*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  /* pour empécher les enfants de partir en dehors de la boite generale */
}
#content{
    /* border: 1px solid yellow; */
    width: 1100px;
    height: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

#content div{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    margin: 5px;
    text-align: center;
}
.green{
    background-color: rgb(5, 184, 5);
    border-radius: 15px 25px 50px 50px;
}
.bleu{
    background-color: rgb(159, 207, 252);
    border-radius: 75px 0px;
}
.rond{
    background-color: aquamarine;
    border-radius: 75px;
}
.rose{
    border-radius: 15px 55px;
    background-color: pink;
}

.largeur{
    margin-right: 160px !important;
}




@media only screen and (max-width: 1099.98px) {

#content{
    width: 80%;
}
    
#content div{
    border: 3px solid blue;
    
}
}

@media only screen and (max-width: 950px) {
    #content{
        width: 10%;
    }

}